{{ 'swiper-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign bg_color = section.settings.bg_color

  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop
  assign padding_top_tablet = section.settings.padding_top_tablet
  assign padding_bottom_tablet = section.settings.padding_bottom_tablet
  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
%}

{% style %}
  .swiper-slider {
    padding-top: {{ padding_top_desktop }}px;
    padding-bottom: {{ padding_bottom_desktop }}px;
  }

  @media only screen and (max-width: 990px) {
    .swiper-slider. {
      padding-top: {{ padding_top_tablet }}px;
      padding-bottom: {{ padding_bottom_tablet }}px;
    }
  }

  @media only screen and (max-width: 749px) {
    .swiper-slider. {
      padding-top: {{ padding_top_mobile }}px;
      padding-bottom: {{ padding_bottom_mobile }}px;
    }
  }
{% endstyle %}

<div class="swiper-slider">
  <div class="page-width">
    <div class="swiper-slider-wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% liquid
              assign image  = block.settings.image
              assign show_hotspot_dot  = block.settings.show_hotspot_dot
              assign description  = block.settings.description
              assign description_aligning  = block.settings.description_aligning
              assign color  = block.settings.color
              assign x_position  = block.settings.x_position
              assign y_position  = block.settings.y_position
            %}

            <div 
              class="swiper-slide" 
              data-image-url="{{ image.src | image_url }}" 
              data-image-alt="{{ image.alt }}"
              data-show-hotspot-dot="{{ show_hotspot_dot }}"
              data-description="{{ description }}"
              data-description-aligning="{{ description_aligning }}"
              data-description-color="{{ color }}"
              data-x-position="{{ x_position }}"
              data-y-position="{{ y_position }}"
            >
              &nbsp;
            </div>
          {% endfor %}
        </div>
  
        <div class="swiper-button-prev">
          {% render 'arrow', type: 'prev' %}
        </div>

        <div class="swiper-button-next">
          {% render 'arrow', type: 'next' %}
        </div>
      </div>

      <div class="swiper-slider-content-wrapper">
        <div class="swiper-slider-content">
          {% for block in section.blocks limit: 1 %}
            {% liquid
              assign image  = block.settings.image
              assign show_hotspot_dot  = block.settings.show_hotspot_dot
              assign description  = block.settings.description
              assign description_aligning  = block.settings.description_aligning
              assign color  = block.settings.color
              assign x_position  = block.settings.x_position
              assign y_position  = block.settings.y_position
            %}

            <img class="swiper-slider-content-image" src="{{ image.src | image_url }}" alt="{{ image.alt }}">

            <div class="swiper-slider-content-dot-wrapper" style="{% unless show_hotspot_dot %}display: none;{% endunless %}">
              <div class="swiper-slider-content-dot" style="left: {{ x_position }}%; top: {{ y_position }}%;">
                {% if description != blank %}
                  <p class="swiper-slider-content-description" style="text-align: {{ description_aligning }}; color: {{ color }};">
                    {{ description }}
                  </p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-slider-content-navigation" style="background-color: {{ bg_color }};">
          {% for block in section.blocks %}
            {% liquid
              assign nav_label  = block.settings.nav_label
            %}
            
            <span {% if forloop.index == 1 %}class="active"{% endif %}>
              {% if nav_label != blank %}
                {{ nav_label }}
              {% else %}
                {{ forloop.index }}
              {% endif %}
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Swiper Slider",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "range",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_top_tablet",
        "label": "Padding Top Tablet",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom_tablet",
        "label": "Padding Bottom Tablet",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px",
        "default": 80
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "label": "Show Hotspot Dot",
            "id": "show_hotspot_dot",
            "default": true
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "info": "Optional",
            "visible_if": "{{ block.settings.show_hotspot_dot == true }}"
          },
          {
            "type": "select",
            "id": "description_aligning",
            "label": "Align Description",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "left",
            "visible_if": "{{ block.settings.show_hotspot_dot == true }}"
          },
          {
            "type": "range",
            "id": "x_position",
            "label": "X Position (%)",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "%",
            "visible_if": "{{ block.settings.show_hotspot_dot == true }}"
          },
          {
            "type": "range",
            "id": "y_position",
            "label": "Y Position (%)",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "%",
            "visible_if": "{{ block.settings.show_hotspot_dot == true }}"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Description Color",
            "visible_if": "{{ block.settings.show_hotspot_dot == true }}"
          },
          {
            "type": "text",
            "id": "nav_label",
            "label": "Navigation Item Label",
            "info": "If empty the slide index will be displayed"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Swiper Slider"
      }
    ]
  }
{% endschema %}